<table>
<% num = 0 %>
<tr>
  <th> </th>
  <th> Username </th>
  <th> Total Commits </th>
  <th> Total Commits this week </th>
  <th> </th>
</tr>
<% @contributors.each do |contributor| %>
<tr>
<% num += 1 %>
  <th> <%= image_tag contributor.photo, size: "50x50" %> </th>
  <th> <%= contributor.username %> </th>
  <th> Total Commits: <%= contributor.total_commits %> </th>
  <th> Total Commits this week: <%= contributor.commits_this_week %></th>
  <br />
</tr>
<% end %>
</table>
