<h3> Project Details </h3>
<p> Open Pull Requests: <%= @open_pull_requests %> </p>
<%= render partial: "pm_form" %>
<%= render partial: "apm_form" %>
<br />

<h3> Contributors </h3>
<%= render partial: "contributors" %>
</ul>
