<h1>Pahlka Student Group</h1>
<section class="about-us-section">
  <% image_tag "https://media.npr.org/assets/img/2013/12/17/jenniferpahlka_2012-stageshot_wide-fae5a027471a968d817bbd2fd5947113f096307c.jpg?s=1400", alt: "Jennifer Pahlka Speaking" %>
  <p>

  </p>
</section>
<section class="highlighted-projects-section">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>

$('.login-link').on('click', function() {
   $('.modal-background').show();
});

$('.cancel').on('click', function() {
  $('.modal-background').hide();
});
</script>
