<div class="main">
<h1>Pahlka Posse Projects</h1>
<button class='show_accepted_projects projectmenubutton'>
Accepted Projects
</button>

<button class='show_projects_under_review projectmenubutton'>
Projects Under Review
</button>

<button class='show_proposed_projects projectmenubutton'>
Proposed Projects
</button>

<button class='show_project_pitch projectmenubutton'>
Pitch a Project
</button>

<br />
<br />
<br />
<hr>

<div class="accepted_projects">
  <%= render partial: "accepted_projects" %>
</div>

<div class="proposed_projects">
  <%= render partial: "proposed_projects" %>
</div>

<div class="projects_under_review">
  <%= render partial: "projects_under_review" %>
</div>

<div class="new_project_pitch">
  <%= render partial: "project_form" %>
</div>


<script>
$(document).ready(function() {
  $('.show_accepted_projects').on('click', function() {
     $('.accepted_projects').show();
     $('.projects_under_review').hide();
     $('.proposed_projects').hide();
     $('.new_project_pitch').hide();
  });

  $('.show_projects_under_review').on('click', function() {
    $('.accepted_projects').hide();
    $('.projects_under_review').show();
    $('.proposed_projects').hide();
    $('.new_project_pitch').hide();
  });

  $('.show_proposed_projects').on('click', function() {
    $('.accepted_projects').hide();
    $('.projects_under_review').hide();
    $('.proposed_projects').show();
    $('.new_project_pitch').hide();
  });

  $('.show_project_pitch').on('click', function() {
    $('.accepted_projects').hide();
    $('.projects_under_review').hide();
    $('.proposed_projects').hide();
    $('.new_project_pitch').show();
  });
});
</script>
