<div class="main">

<h1>Pahlka Posse Projects</h1>
<hr>
<br />
<div>
  <div class="picolumn">
    <div class="picard">
      <%= image_tag "BobHuggins.jpg", style:"width:100%" %>
      <div class="picontainer">
        <h2>Jane Doe</h2>
        <p class="pititle">CEO &amp; Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>

  <div class="picolumn">
    <div class="picard">
      <%= image_tag "BobHuggins.jpg", style:"width:100%" %>
      <div class="picontainer">
        <h2>Mike Ross</h2>
        <p class="pititle">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>

  <div class="picolumn">
    <div class="picard">
      <%= image_tag "BobHuggins.jpg", style:"width:100%" %>
      <div class="picontainer">
        <h2>John Doe</h2>
        <p class="pititle">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>
</div>
