
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      var additions_array = <%= raw @additons_deletions_data %>
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          additions_array
        );

        var options = {
          chart: {
            title: 'Additons and Deletions by User',
            subtitle: 'Additions and deletions by user this week.',
          },
          bars: 'horizontal' // Required for Material Bar Charts.
          height: 400,
          colors: ['green', 'red']
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <body>
    <div id="barchart_material" style="width: 900px; height: 500px;"></div>
  </body>
</html>
