<nav>
  <a href="https://turing.io" target="_blank"><img class="turing-logo" src="https://pbs.twimg.com/profile_images/444146105312243712/EHdy1GyV.png" alt="Turing School of Software and Design Logo"></a>

  <ul>
    <li class="nav-menu-item"><a href="../../user/1" class="nav-link">ABOUT</a></li><li class="nav-menu-item">
      <a class="nav-link" href="../../repositories">PROJECTS</a></li><li class="nav-menu-item">
      <a class="nav-link" href="">EVENTS</a></li><li class="nav-menu-item">
      <a class="nav-link" href="">JOIN</a></li><li class="login-link nav-menu-item">LOGIN</li>
  </ul>
</nav>


<h3> User Dashboard </h3>

<%= image_tag current_user.image_path, size: "200x200", id: "user_image" %>

<%= link_to "repositories", repositories_path %>
